[submodule "vim-conque"]
	path = vim-conque
	url = https://github.com/rygwdn/vim-conque.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-largefile"]
	path = vim-largefile
	url = https://github.com/gmunkhbaatarmn/vim-largefile.git
