[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "webapi-vim"]
	path = webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim-easytest"]
	path = vim-easytest
	url = https://github.com/hassek/vim-easytest
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim-tmux-runner"]
	path = vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim-sort-motion"]
	path = vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule "vim-system-copy"]
	path = vim-system-copy
	url = https://github.com/christoomey/vim-system-copy
[submodule "vim-exchange"]
	path = vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "tabline.vim"]
	path = tabline.vim
	url = https://github.com/mkitt/tabline.vim
[submodule "taboo.vim"]
	path = taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-isort"]
	path = vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "splitjoin.vim"]
	path = splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale
[submodule "neoformat"]
	path = neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "vim-vue"]
	path = vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "direnv.vim"]
	path = direnv.vim
	url = https://github.com/direnv/direnv.vim
